@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Shantell Sans";
  font-weight: 400;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Обнуляющий список*/
.body {
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(LightSteelBlue, transparent 1px), linear-gradient(90deg, LightSteelBlue, transparent 1px);
  background-size: 16px 16px;
  background-position: center center;
  border: 2px solid LightSteelBlue;
}

.container {
  max-width: 650px; /*увеличил на 30px для отступов безопасности*/
  margin: 0 auto; /*центруем контент*/
  padding: 0 40px; /*отступы безопасности*/
}

.header {
  font-size: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header__round-body {
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header__record-body {
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.header__settings-body {
  display: flex;
  flex-direction: row;
}

.settings-btn {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 30px;
}
.settings-btn:hover {
  margin: 4px;
  width: 47px;
  height: 47px;
  font-size: 32px;
  border: 3px solid #1d1d1d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.settings-btn:active {
  margin: 6px;
  width: 43px;
  height: 43px;
  font-size: 28px;
  border: 2px solid #000000;
}

.settings__help {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.image__container {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 282px;
}

path {
  stroke-linecap: round;
  stroke-width: 3px;
  animation: draw 3s linear forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 100;
  }
}
.one {
  display: none;
}

.two {
  display: none;
}

.three {
  display: none;
}

.four {
  display: none;
}

.five {
  display: none;
}

.six {
  display: none;
}

.seven {
  display: none;
}

.word__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  padding: 15px 0;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 15px;
}

.keyboard__container {
  margin: 0 auto;
  margin-bottom: 30px;
}

.buttons-row1 {
  display: flex;
  flex-direction: row;
}

.btn {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn:hover {
  margin: 4px;
  width: 47px;
  height: 47px;
  font-size: 32px;
  border: 3px solid #1d1d1d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn:active {
  margin: 6px;
  width: 43px;
  height: 43px;
  font-size: 28px;
  border: 2px solid #000000;
}

.buttons-row2 {
  display: flex;
  flex-direction: row;
}

.buttons-row3 {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=style.css.map */